/* Amstelvar Variable Font */
@font-face {
  font-family: 'Amstelvar VF';
  src: url('../fonts/AmstelvarAlpha-VF.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Amstelvar 1.1 VF';
  src: url('../fonts/AmstelvarAlpha-VF_v1.1.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Plex Serif';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/plex-serif/IBMPlexSerif-Regular.woff2') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Plex Serif';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/plex-serif/IBMPlexSerif-Bold.woff2') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Plex Serif';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/plex-serif/IBMPlexSerif-Italic.woff2') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Plex Serif';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/plex-serif/IBMPlexSerif-BoldItalic.woff2') format('woff'); /* Modern Browsers */
}

/* Decovar Variable Font */
@font-face {
  font-family: 'Decovar VF';
  src: url('../fonts/DecovarAlpha-VF.ttf') format('truetype');
  font-display: swap;
}
